@charset "utf-8";
/* import font file */
@font-face {
	font-family: alice;
	src: url('Alice.ttf');
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	font: 13px/1.2 normal Segoe UI, Verdana, sans-serif;
	padding: 1px;
	box-sizing: border-box;
	background: url(../images/bg.gif) repeat;
	color: #444;
}

body>section {
	width: calc(100% -   80px);
	min-width: 600px;
	margin-left: 40px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	background-color: rgba(0, 0, 0, .02);
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
}

ul,li {
	list-style: none
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: rgb(207, 59, 22)
}

input,textarea {
	border: solid 1px rgba(207, 59, 22, .5);
	padding: 3px;
	border-radius: 3px;
	transition: box-shadow 0.30s ease-in-out
}
textarea{resize: none}
input[type=text],input[type=url],input[type=password] {
	height: 1.4em;
	line-height: 1.4em;
}
input[type=radio] {
    margin-right: 6px;
}
input:focus,textarea:focus {
	border-color: rgba(207, 59, 22, .6);
	box-shadow: 0 0 5px rgba(207, 59, 22, 1)
}
input.long {width: 30em}
input.short {width: 10em}
textarea.small {width: 30em; height: 10em}


.title-button, .form-button {
    cursor: pointer;
    color: #333;
    padding: 0 1.6em;
    text-align: center;
    font-size: 13px;
    background-image: -webkit-radial-gradient(left top, rgba(77, 140, 211, 0.83),
    rgb(39, 215, 208));
    text-indent: 0;
    border-radius: 1.8em .4em;
    line-height: 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    text-decoration: none;
    transition: all ease-in .3s;
}

.title-button:hover,
.form-button:hover {
    border-radius: .4em 1.8em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .8);
}
.title-button {position: absolute;right: 2em;top: .2em}
.form-button {border:none}

#nav {
	position: fixed;
	padding: 0 5%;
	display: flex;
	height: 40px;
	line-height: 40px;
	width: 100%;
	box-sizing: border-box;
	bottom: 40px;
	-webkit-box-reflect: below -1px
		linear-gradient(0deg, rgba(255, 255, 255, .5), rgba(0, 0, 0, 0));
}

#nav a {
	flex: 1;
	color: #fff;
	border-radius: 8px 8px 0 0;
	text-align: center;
	text-decoration: none;
	margin-left: 3px;
	font-size: 14px;
	font-weight: 900;
	background-image: -webkit-radial-gradient(left top, rgb(65, 63, 65),
		rgb(39, 39, 39));
	border: solid 1px rgb(39, 39, 39);
	text-shadow: 1px 1px 0 #000;
	position: relative;
	top: 0;
	transition: all linear .1s;
	box-shadow: -1px -1px 0 rgb(39, 39, 39);
}

#nav a:hover,#nav a.on {
	top: -5px;
	background-image: -webkit-radial-gradient(left top, rgba(0, 0, 0, 0.83),
		rgb(207, 59, 22));
	border-color: rgba(0, 0, 0, 0.5);
}

#Home h1 {
	position: absolute;
	top: calc(50vh -   78px);
	font-size: 64px;
	text-align: center;
	width: 100%;
	font-family: alice;
	color: #1A1010;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0)));
}

#views {
	-webkit-perspective: 1200px;
	height: calc(100% -   100px);
	width: 100%;
	position: absolute;
	top: 0;
}

#views:after {
	content: " ";
	position: absolute;
	width: 90%;
	height: calc(100% -   80px);
	background: #fff;
	left: 5%;
	top: 81px;
	z-index: 1;
	-webkit-transform: rotateX(-90deg);
	-webkit-transform-origin: bottom;
}


/* ----------------- 项目管理列表 ------------------------*/
h2 {
	border-bottom: solid 1px #3A373A;
	height: 2em;
	line-height: 2em;
	text-indent: 1em;
	position: relative
}

#project-list .header {
	background-color: #942929;
	height: 2em;
	line-height: 2em;
	display: flex;
	color: #fff;
	border-radius: 3px;
	font-weight: 900;
	text-align: center;
	margin-top: 1em;
}

#project-list .list-item {
	height: 2.2em;
	line-height: 2.2em;
	display: flex;
	text-align: left;
	text-indent: .5em;
}

#project-list .list-item:nth-child(even) {
	background-color: #CACACA
}

#project-list .header li,#project-list .list-item li {
	flex: 2
}

#project-list .header li:nth-child(1),#project-list .list-item li:nth-child(1)
	{
	flex: 1;
	text-align: center
}

#project-list .header li:nth-child(2),#project-list .list-item li:nth-child(2)
	{
	flex: 3
}

/* ----------------- 项目管理-新增 ------------------------*/
#project-add form {padding: 1em}
#project-add form p {height: 3em;line-height: 3em}
#project-add form p:last-child {padding-left: 10.5em}
#project-add form p.high {height: 11em}
#project-add form label {
	display: inline-block;
	width: 10em;
	text-align: right;
	margin-right: .5em
}
#project-add form label:after {content: ":"}
#project-add form p span {margin-right: 1em}