@charset "utf-8";
/* import font file */
@font-face { font-family: alice;src: url('Alice.ttf');}

* {margin:0;padding:0;outline:none;}
html,body{width:100%;height:100%;}
body{
	font:13px/1.2 normal Segoe UI, Verdana, sans-serif;
	padding:1px;
	box-sizing: border-box;
	background:url(../images/bg.gif) repeat;
	color:#444;
}
body>section {
	width:calc(100% - 80px);
	min-width:600px;
	margin-left:40px;
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	background-color:rgba(0,0,0,.02);
	position:relative;
	min-height:100%;
	box-sizing: border-box;
}
a {color:#333;text-decoration: none;}
a:hover {color:rgb(207, 59, 22);text-decoration: underline;}
#nav {
	position:fixed;
	padding:0 5%;
	display:flex;
	height:40px;
	line-height:40px;
	width:100%;
	box-sizing: border-box;
	bottom:40px;
	-webkit-box-reflect: below -1px linear-gradient(0deg, rgba(255,255,255,.5), rgba(0,0,0,0));
}

#nav a{
	flex:1;
	color:#fff;
	border-radius:8px 8px 0 0;
	text-align:center;
	text-decoration:none;
	margin-left:3px;
	font-size:14px;
	font-weight:900;
	background-image: -webkit-radial-gradient(left top,rgb(65, 63, 65),rgb(39, 39, 39));
	border:solid 1px rgb(39, 39, 39);
	text-shadow:1px 1px 0 #000;
	position:relative;
	top:0;
	transition: all linear .1s;
	box-shadow:-1px -1px 0 rgb(39, 39, 39);
}
#nav a:hover, #nav a.on{
	top:-5px;
	background-image: -webkit-radial-gradient(left top,rgba(0, 0, 0, 0.83),rgb(207, 59, 22));
	border-color:rgba(0, 0, 0, 0.5);
}

#home-page h1 {
	position:absolute;
	top:calc(50vh - 78px);
	font-size:64px;
	text-align:center;
	width:100%;
	font-family:alice;
	color:#1A1010;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); 
}

/*--------------------------- project -------------------------------- */
#project {
	padding:100px 20px 20px 20px;
	display:flex;
}
#project ~#nav {
	top: 20px;
}
#sidebar {
	width:200px;
	border-top:solid 1px #666;
}
#sidebar dt {
	height:26px;
	font-weight:700;
	line-height: 28px;
}
#sidebar dd {
	text-indent:.5em;
	height:20px;
	line-height: 20px;
}
#sidebar dd:before {
	content:">";
	margin-right:3px;
}
#content {
	-webkit-flex:1;
}